
.text{
    margin-top: 70px;
}
/* Container for the image with a pseudo-element */
/* Container for the image */
.relative {
    position: relative;
    display: inline-block;
  }
  .project-bg{
    background-color: var(--bg-color);
  }
  .project-container {
    width: 400px; /* Set the fixed width */
    height: 670px; /* Set the fixed height */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; /* Align content */
  }
  
  .image-wrapper {
    height: 550px; /* Set the fixed height for the image */
    width: 100%; /* Full width of the container */
    overflow: hidden; /* Ensure images don’t overflow */
  }
  
  .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the image fills the area without distortion */
  }
  
  /* Add the ::after pseudo-element to the entire div */


 @media(max-width:600px){
  
 }