
.text{
    margin-top: 70px;
}
/* Container for the image with a pseudo-element */
/* Container for the image */
.relative {
    position: relative;
    display: inline-block;
  }
  .project-bg{
    background-color: var(--bg-color);
  }
  .project-container {
    position: relative;
    overflow: hidden; /* Ensures the pseudo-element stays within the container */
  }
  
  /* Add the ::after pseudo-element to the entire div */
  .project-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay color */
    transition: height 0.5s ease-in-out; /* Smooth animation */
    z-index: 2; /* Ensure it overlays the content */
    pointer-events: none; /* Prevent interaction with the pseudo-element */
  }
  
  /* Trigger animation on hover */
  .project-container:hover::after {
    height: 100%;
  }